img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 0 10px #333;
}
html,
body {
	font-family: "Ubuntu";
}
.row {
	width: 80%;
	margin: 0 auto;
}
.sidebar {
	text-align: center;
}
.sidebar ul li {
	display: inline-block;
	list-style: none;
}