img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 0 10px #333;
}
html,
body {
	font-family: "Ubuntu";
}
.row {
	width: 80%;
	margin: 0 auto;
}
.sidebar {
	text-align: center;
}
.sidebar ul li {
	display: inline-block;
	list-style: none;
}
.sidebar ul li a {
	display: inline-block;
	padding: 5px 10px;
	color: #333;
	font-size: 20px;
}
.sidebar ul li a:hover {
	color: rgba(100, 150, 250);
	text-shadow: 0 0 2px #333;
}